.cover__link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  min-height: 62.5vw;
}

@media screen and (min-width: 768px) {

  .cover__link {
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {

  .cover__link {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {

  .cover__link {
    max-width: 1184px;
    min-height: 740px;
  }
}