.cover__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


