
















.intro__title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 900;
  text-align: left;
  margin: 0;
}

.title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 900;
  text-align: left;
  grid-area: title;
}

.title_indent {
  margin: 0;
  padding: 0 16px;
}

.description {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  grid-area: description;
  margin: 0;
}

.description_indent {
  padding: 0 16px;
}

.description_indent_title {
  margin: 40px 0 0 0;
}

.description_indent_photo {
  margin: 32px 0 0 0;
}

.description_indent_description {
  margin: 25px 0 0 0;
}

.intro {
  padding: 0 16px;
}

.intro-list {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 34px 0 0 0;
}

.intro__cnt {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
}

.photo-grid {
  display: grid;
  gap: 12px;
  padding: 0 16px;
}

.photo-grid__image {
  width: 100%;
}

.places {
  display: grid;
  gap: 49px;
}

.place {
  width: 100%;
}

.place__image {
  width: 100%;
  padding-bottom: 100%;
  object-fit: cover;
  grid-area: image;
  margin-top: 32px;
  padding: 0;
}

.places-url {
  display: none;
  flex-wrap: wrap;
  align-self: end;
  grid-area: url;
  align-self: end;
}

.places__url {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-align: left;
  color: #aaa;
}

.places__link {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin-top: 12px;
  color: white;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-color: #464646;
  padding: calc(100vw/10) 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

.cover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.cover:hover:before {
  opacity: 0.8;
}

.cover__title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 900;
  text-align: center;
  max-width: 276px;
  margin: 0;
  padding: 0;
  z-index: 1;
} 

.cover__subtitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  max-width: 276px;
  margin: 16px 0 0 0;
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px 24px 16px;
}

.footer__links {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(5, 24px);
  gap: 32px;
  margin: 0;
}

.footer__link {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: white;
  text-decoration: none;
  opacity: 1;
}

.footer__link:hover {
  text-decoration: underline;
  opacity: .8;
}

.footer__copyright {
  line-height: 14px;  
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin: 48px 0 0 0;
}


@media screen and (min-width: 540px) {

  .lead__title {
    font-size: 64px;
    line-height: 68px;
    max-width: 520px;
  }
  
  .lead__subtitle {
    font-size: 24px;
    line-height: 28px;
    max-width: 520px;
  }

  .cover__title {
    font-size: 52px;
    line-height: 62px;
    max-width: 360px;
  }

  .cover__subtitle {
    font-size: 16px;
    line-height: 18px;
    max-width: 360px;
  }

}


@media screen and (min-width: 768px) {

  .page_indent {
    margin: 88px 0 0 0;
  }

  .logo {
    width: 176px;
    height: 52px;
  }

  .header {
    padding: 28px 24px 48px 24px;
  }

  .header__link {
    font-size: 24px;
    line-height: 28px;
  }

  .lead__title {
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    padding: 0;
  }
  
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 32px 0 0 0;
    padding: 0;
    max-width: 640px;
  }

  .lead__image {
    margin: 56px 0 0 0;
  }

  .lead__caption {
    margin: 8px 0 0 24px;
  }

  .title {
    font-size: 42px;
    line-height: 46px;
    align-self: end;
  }

  .place:first-child .title {
    max-width: 260px;
  }

  .title_indent {
    padding: 0;
  }

  .description_indent {
    padding: 0;
  }

  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }

  .intro {
    padding: 0 24px;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 24px;
  }
  
  .places {
    gap: 73px;
    padding: 0 24px;
  }

  .place {
    display: grid;
    gap: 28px;
    grid-template-areas: 
    "title url"
    "image description";
    grid-template-columns: 340px calc(100vw - (48px + 340px + 28px));
  }

  .places-url {
    display: flex;
  }

  .place__image {
    margin-top: 20px;
  }

  .cover {
    padding: calc(100vw/7) 0;
  }

  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
  }

  .cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 32px 0 0 0;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 24px 24px 24px;
  }
  
  .footer__links {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-template-rows: min-content;
    gap: 18px;
    padding: 0;
  }
  
  .footer__link {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
  }
  
  .footer__copyright {
    line-height: 14px;  
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    margin: 0;
  }

}


@media screen and (min-width: 1024px) {

  .page_indent {
    margin: 92px 0 0 0;
  }

  .header {
    padding: 28px 48px 48px 48px;
  }

  .lead__image {
    width: calc(100% - 96px);
    margin: 56px 0 0 0;
    padding: 0 48px;
  }

  .lead__caption {
    margin: 8px 0 0 48px;
  }

  .intro {
    width: 690px;
    padding-left: 48px;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    padding: 0 48px;
  }

  .places {
    gap: 80px;
    padding: 0 48px;
  }

  .place {
    display: grid;
    grid-template-areas: 
    "title url"
    "image description";
    gap: 32px;
    grid-template-columns: 440px calc(100vw - (96px + 440px + 32px));
  }

  .title {
    font-size: 72px;
    line-height: 76px;
  }

  .place:first-child .title {
    max-width: 440px;
  }

  .cover {
    padding: calc(100vw/5) 0;
  }

}


@media screen and (min-width: 1280px) {

  .header {
    padding: 28px 48px 56px 48px;
  }

  .lead__image {
    width: calc(100vw - 296px);
    margin: 64px 0 0 0;
    padding: 0 148px;
  }

  .lead__caption {
    margin: 8px 0 0 148px;
  }

  .intro {
    width: 690px;
    padding-left: 148px;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 0 48px;
  }

  .places {
    padding: 0 148px;
  }

  .place {
    display: grid;
    grid-template-areas: 
    "title url"
    "image description";
    gap: 40px;
    grid-template-columns: 460px calc(100vw - (296px + 460px + 40px));
  }