.cover__subtitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  max-width: 276px;
  margin: 16px 0 0 0;
}

@media screen and (min-width: 540px) {

  .cover__subtitle {
    font-size: 16px;
    line-height: 18px;
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {

  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    max-width: 360px;
    margin: 32px 0 0 0;
  }
}