.title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 900;
  text-align: left;
  grid-area: title;
}

@media screen and (min-width: 768px) {

  .title {
    font-size: 42px;
    line-height: 46px;
    align-self: end;
  }

  .place:first-child .title {
    max-width: 260px;
  }
}

@media screen and (min-width: 1024px) {

  .title {
    font-size: 72px;
    line-height: 76px;
  }

  .place:first-child .title {
    max-width: 440px;
  }
}