.indent {
  margin: 64px 0 0 0;
}

@media screen and (min-width: 768px) {

  .indent {
    margin: 88px 0 0 0;
  }
}

@media screen and (min-width: 1024px) {

  .indent {
    margin: 92px 0 0 0;
  }
}