.lead__subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  margin: 16px 0 0 0;
  padding: 0;
  max-width: 288px;
}

@media screen and (min-width: 540px) {

  .lead__subtitle {
    font-size: 24px;
    line-height: 28px;
    max-width: 520px;
  }
}

@media screen and (min-width: 768px) {

  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 32px 0 0 0;
    max-width: 640px;
  }
}