.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-color: #464646;
  min-height: 62.5vw;
}

.cover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.cover:hover:before {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {

  .cover {
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {

  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {

  .cover {
    max-width: 1184px;
    min-height: 740px;
  }
}