.lead__caption {
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
  margin: 8px 0 0 16px;
}

@media screen and (min-width: 768px) {

  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media screen and (min-width: 1024px) {

  .lead__caption {
    margin: 8px 0 0 48px;
  }
}


@media screen and (min-width: 1280px) {

  .lead__caption {
    margin: 8px 0 0 148px;
  }
}