.cover__title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 900;
  text-align: center;
  max-width: 276px;
  margin: 0;
  padding: 0;
} 

@media screen and (min-width: 540px) {

  .cover__title {
    font-size: 52px;
    line-height: 62px;
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {

  .cover__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    max-width: 560px;
  }
}